

.tag.alias {
    background-color: crimson;
    color: #fff;
}

.tag.house {
    background-color: #f0808044;
    margin-right: .1rem;
}


.drv-street {
    padding: .5rem;
}

.drv-street:hover {
    background-color: #f8af0f11;
}

.drv-street nav {
    display: flex;
    flex-direction: row;
}

.drv-street nav > .street {
    flex-grow: 5;
}

.drv-street nav .tag {
    font-size: 7pt;
    padding: 1px 2px;
}

.drv-street nav .menu-item {
    margin-right: .1rem;
    text-decoration: none;
    padding: 0 .1rem;

    background-color: #dc143c55;

}

.drv-street > .houses {
    flex-wrap: wrap;
}

.tag.houses {
    background-color: #29a99f55;

}
.tag.flats {
    background-color: #f8af0f55;
}
.tag.idx {
    background-color: #25679955;
}
.tag.district {
    background-color: #25ff9955;
}

.tag.alias {
    background-color: #ff679955;
}


.h {
    margin-top: .5rem;
    margin-right: .5rem;
    outline: 1px solid black;
}

.h.big-h {
    outline-color: rosybrown;
}

.h.non-living {
    outline-color: grey;
    color: grey;
}

.extract-street,
.street-row {
    padding: .5rem;
}

.extract-street:hover,
.street-row:hover {
    background-color: #f8af0f55;
}

.extract-street .rename {
    padding-left: .5rem;
}

.streets-pg {
    padding: 1rem .5rem;
}

.streets-pg hr {
    border: none;
    height: 1px;
    background-color: #ff000044;
}

.panel .menubar .header {
    white-space: pre-wrap;
}

.panel .menubar {
    margin-bottom: .333rem;
}


.street-row .langs {
    display: flex;
    flex-direction: row;

    font-weight: bold;
}

.street-row .langs * {
    padding-right: 3rem;
}

.no-label {
    outline: 1px solid red;
    background-color: rgba(203, 68, 175, 0.18);
}

.no-idx {
    outline: 1px solid red;
    background-color: rgba(22, 68, 175, 0.18);
}


.blue {
    outline: 1px solid darkblue;
}

.OLD-NU {
    background-color: #29a99f11;
}

.html:hover {
    outline: 1px solid #29a99f;
}

.to-be-added {
    background-color: red;
}

.not-guessed {
    background-color: #4169e144;
}

span.old {
    color: gray;
}

span.nu {
    color: #000;
}