/** {
    outline: 1px solid rgba(0,0,0,.0187777);
}*/

header {
    font-weight: bold;
}




.wf {
    outline: 1px solid rgba(0,0,255,0.1333);
    padding: .5rem;
    margin-bottom: .5rem;
}


.context, .workflow {
    margin: auto 1rem;
}

.project > div {

    margin-bottom: 1rem;
    margin-left: .1rem;
}

.context > span {
    margin-right: .33rem;
}


ul.listbox {
    margin: 0;
    margin-right: 1rem;
}

.listbox {
    min-height: 2rem;
    padding: 0;
    background: white;
    outline: 1px solid #aaa;
    display: block;
}


.listbox > li {
    display: block;
    padding: 0rem .5rem;
    position: relative;
    line-height: 1.5rem;
}


.listbox > li.selected {
    color: red;
}


/* proto6 */

.kv {
    display: flex;
    flex: 0 1 auto;

    margin-bottom: 0.333rem;
}

.kv:hover {
    outline: 1px solid lightsalmon;

}

.proto6-results {

}

.proto6-results > header {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.proto6-results .kv {
    font-size: 6.5pt;
    line-height: 1.33;
}


/* proto7 */

.proto8 .tabs > ul {
    display: flex;
    flex: 0 1 auto;
}

.proto8 .tabs > ul {
    list-style: none;

    -webkit-margin-before:0em;
    -webkit-margin-after:0em;

    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;


}

.proto8 .tabs ul > li {
    padding: 0 .25rem 0 .25rem;

    box-sizing: content-box;

    line-height: 1.5;

    align-self: flex-end;
    /*line-height: 1;*/
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 1px solid gray;
}

.proto8 .tabs ul > li:hover {
    background-color: rgba(128,32,32,.05);
    cursor: pointer;
}

.proto8 .tabs ul > li > header {
    padding: 0;
    line-height: 2;
}

.proto8 .tabs ul > li > header > .menu-item {
    text-decoration: none;

    border: 1px solid rgba(0,0,0,.1333);
    box-sizing: content-box;
    border-radius: 3px;
    /*display: inline-block;*/
    min-width: 1rem;
    margin: 0;
    padding: 0 .5rem;
}

.proto8 .tabs ul > li > header > .menu-item:hover {
    background-color: indianred;
}

.proto8 .tabs ul > li.selected {
    border: 1px solid red;
    border-bottom: none;
}


.proto8 .t-body {
    padding: 1rem;

    border: 1px solid gray;
    box-sizing: content-box;

    margin-top: -1px;
    border-collapse: collapse;

}

.proto8 .select-row > a {
    outline: 1px solid lightgray;
    padding: 0 .33rem;
    text-decoration: none;
    margin-left: .33rem;
}


.flex {
    display: flex;
    flex: 0 1 auto;
}

.proto8 label {
    margin-right: .5rem;
}



body {
    /*font-family: -apple-system,BlinkMacSystemFont,"avenir next",avenir,helvetica,"helvetica neue",ubuntu,roboto,noto,"segoe ui",arial,sans-serif*/
}

.proto9 .container {
    background-color: rgba(0,0,0,.05);
    margin: .33rem;

}

/* top level container */
.proto9 > .container {
    width: 80%;
    margin-left: 10%;
    margin-right: 20%;
}


.proto9 .wf {
    background-color: #ffffff;
    /*flex-grow: 1;*/

    display: flex;
    flex: 1 1 auto;
}

.proto9 .wf > .wf-body {
    flex-grow: 1;
}

.proto9 .wf .result {
    background-color: royalblue;
    color: red;

}

.proto9 .container:hover {
    outline: 1px solid #000;
}


.proto9 .container-body {
    display: flex;
    flex: 0 1 auto;
}


.proto9 .container {
    display: flex;
    flex: 1 1 auto;

}

.proto9 .container > .container {
    outline: 1px solid crimson;

}

.proto9 .container .container > .container-body {
    flex-direction: column;
    justify-content: space-around;
    align-self: stretch;
}

.proto9 .container > .container > .wf {

}


.proto10 .example {
    outline: 1px solid rgba(0,0,0,.1333);

    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;

    width: 100%;
}

.proto10 .row {
    width: 100%;
    display: flex;
    flex: 0 1 auto;

    padding: 0.1rem 0;
}

.proto10 .row .gutter {
    width: 2rem;
    flex-shrink: 1;
    margin-right: .5rem;
    margin-left: .1rem  ;


    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: smaller;
    font-weight: bold;
    color: darkslategray;


    /*display: flex;*/
    /*flex: 0 1 auto;*/
    /*align-items: center;*/

    border-right: 1px solid royalblue;
}

.proto10 .row:hover {
    background-color: rgba(0,0,0,.01333);
}

.proto10 .nfo {

    font-size: smaller;
}

.proto10 .status {
    margin-left: .33rem;
}

pre {
    font-family: "DejaVu Sans Mono";
    font-size: 7pt;
    line-height: 1.2;
}

.row > .in {

}

.row > .in label {
    padding-right: .5rem;
}


.debug {
    outline: 1px solid rgba(0,0,0,0.0555);
    padding: .333rem;
}



.wf-description td {
    border: 1px solid black;
    border-collapse: collapse;


    vertical-align: top;
}





/* old ui stuff */

.context-ui {
    margin-right: 1rem;
}

.tip {
    opacity: 0.66667;
    margin: .5rem 0;
    font-size: smaller;
}

.tag {
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: .5rem;

    font-weight: 900;
}

.tag.done {
    background-color: aquamarine;
    color: #000;
}

.tag.pending {
    background-color: peachpuff;
    color: #000;
}

.tag.error {
    background-color: orangered;
    color: #fff;
}


.hbox {
    display: flex;
}


/* menubar */

.menubar {
    box-sizing: content-box;

    display: inline-flex;
    align-content: flex-end;
    align-items: baseline;

    flex-wrap: wrap;

    margin-right: .5rem;
}

.menubar .menu-item {
    font-weight: 100;

    padding: .1rem .33rem 0 .33rem;

    color: rgb(220,20,60);
    text-decoration: none;
    border: 1px solid crimson;
}

.menubar .menu-item + .menu-item {
    margin-left: .5rem;
}

.menubar .menu-item:hover,
.menubar .menu-item.selected {
    color: #fff;
    background-color: rgba(255,128,128,.75);
}

.menubar > .header {
    font-weight: bolder;
    margin-right: .5rem;
}

.menubar .separator {
    width: 1rem;
}

.edn.data {
    border-bottom: 1px solid red;
    display: inline-flex;
}

.edn.data.edit {
    border-bottom: 1px solid rgba(255,0,0,.13333);
}









.steps {
    display: flex;
    flex-flow: column;
}

#app .steps {
    margin-top: 1rem;

}

.steps .step-ui {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;

    padding: .2rem;

    border-bottom: 1px dotted rgba(0,0,0,.133);
}

.steps .step-ui:hover {
    border-bottom: 1px dotted rgba(0,0,0,.433);

    background-color: rgba(0,255,255,.08111)
}


.step-ui > .step {
    display: flex;

    align-self: baseline;
}

.step-ui > .step > .result {
    min-width: 200px;
    margin-right: 1.5rem;
}


.step-ui > .step .info {
    min-width: 350px;
}


.step-ui > .step .k {
    min-width: 100px;
    margin-right: .5rem;
    opacity: .5;
}

.step-ui > .step .action {

}


.step-ui > .editor header,
.step-ui > .preview header {
    display: inline-flex;
    font-weight: bolder;
}

.step-ui > .editor header {
    margin-right: .5rem;
    margin-bottom: .5rem;
}



.step-ui.edit,
.step-ui.prev
{

    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}


.step-ui > .preview {
    background-color: rgba(133,127,127,.07333);
    margin-bottom: .5rem;

    min-height: 10rem;
    padding: .5rem;
}

.preview > .preview-content {

    margin: 1rem;

}


.step-ui > .dbg-k {
    color: gray;
    font-size: smaller;
}




.wfui .main-menu {
    margin-top: 1rem;
}



.context-ui {
    background-color: rgba(200,0,0,.03333);
}

.steps-map-ui {
    background-color: rgba(0,200,0,.03333);
}

.context-ui,
.steps-map-ui {
    padding: .75rem;

}

.context-ui .edn.data {
    min-width: 15rem;
    background-color: rgba(133,127,127,.07333);
    margin: .75rem 0rem .75rem 1rem;
}

.context-ui .edn.result {
    display: inline-block;
    min-width: 7rem;
    outline: 1px solid rgba(133,127,127,.1333);
}


.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.flex > div {
    width: auto;
    flex: 1;
    min-height: unset;
}

.flex > div > header {
    width: 100%;
    font-weight: bolder;
    }


.popup textarea {
    display: flex;
    width: 100%;
    font-size: .8rem;
    line-height: 1rem;

    min-height: 50vh;
}


.files {
    background-color: rgba(222,255,111,0.1);
}

.files > * {
    padding: .5rem;
}

.files header {
    border-bottom: 1px solid black;
}

.files .folder {
    font-weight: bold;
}

.files .folder > a:hover {
    background-color: rgba(0,0,100,.3);


}

.files .file {
    opacity: 0.9;
}



/* visualizing client server communication */

.communication {
    width: 100%;
    margin: .5rem;
}

.communication > div {
    /*   width: 100%; */
    margin-right: 1rem;
}

.communication header {
    font-weight: bolder;
}

.communication .log {
    overflow-x: scroll;
}

.communication .hbox > div {
    /*   outline: 1px solid red; */
    margin-bottom: .5rem;

}

.communication .hbox > div:nth-of-type(1)
{
    width: 75%;
    text-align: right;
    flex-grow: 5;
}

.communication .hbox > div:nth-of-type(2)
{
    /*   width: 20%; */
    text-align: center;
    flex-shrink: 1;
    width: 100px;
}


.communication .hbox > div:nth-of-type(3) {
    width: 75%;
    flex-grow: 5;
}


/* end old ui stuff */

/* woof internal header */

.woof-internal > img {
    cursor: pointer;
}

.woof-internal > img:hover {
    filter: sepia(1) hue-rotate(-70deg) saturate(5) contrast(5);
}

.woof-internal > .woof-internal-popup {
    border: 1px solid rgba(0,0,0,.5);
    /*padding: 1px 1.5rem .5rem .5rem;*/
    background-color: white;

}

.woof-internal  .menubar {
    align-items: flex-end;
    display: flex;
    flex: 0 1 auto;
    margin-bottom: .5rem;
}

.woof-internal > .menubar .menu-item + .menu-item {
    margin-top: .333rem;
}


/* folder preview wf */

.page-tree {
    outline: 1px solid cadetblue;
}

.page-item {
    margin-left: 1rem;

    margin-bottom: 0.5rem;
}

.page-item > header,
.page-tree > header
{
    border-bottom: 1px solid darkslategray;
    background-color: rgba(0,0,0,.123);

    padding-top: .25rem;
    margin-bottom: .25rem;

}

.page-tree > .t-folder {
    color: red;
}

.page-tree .page-tree {

    margin-left: 1rem;
}

.t-gallery {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.t-gallery > header {
    width: 100%;
    flex-flow: row wrap;
}

.t-gallery > .t-img {
    outline: 1px solid rgba(0,0,0,0.33333);
    width: 25vw;
}



/***********************************/

.woof-playground {

}

.woof-playground > .menubar + * {
    border-top: 1px solid lightblue;
    margin-top: .333rem;
    padding-top: .333rem;
    padding-left: .1333rem;
}




/* .default-wf-ui (menu, explanation, body) - container for workflow results ui */

.default-wf-ui .main-menu {
    display:  flex;
    flex: 0 1 auto;
    width: 100%;
}

.default-wf-ui .main-menu .menubar {
    flex-grow: 1;
}

.default-wf-ui .flex > div {
    /*outline: 1px solid darkolivegreen;*/
    /*padding: .333rem;*/
}



.default-wf-ui .explanation {
    background-color: rgba(176, 196, 222, .2);
    padding: .5rem;
    margin: .5rem 0;

    line-height: 1;
}

.default-wf-ui .explanation code {
    border: 1px solid rgba(0,0,0,.1333);
    padding: 0.1rem;

    border-radius: 3px;
}

.wf-error {
    line-height: 1.5;
    font-weight: bolder;
    color: maroon;

    padding: 1rem;
    background-color: lightcoral;
}

/* .wf-details { container for worklow results, steps, etc} */

/* .wf-results { KV UI root } */

.wf-results {
    padding: .5rem;
    border: 1px solid black;
}

.wf-results + .wf-results {
    border-top: none; /* stack the results */
}

.wf-results .wf-results-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    padding-top: 2px; /* todo: the padding needed as we don't have nice collapse  */

}

.wf-results .wf-results-row:hover {
    background: rgba(230, 230, 250, .2);
}

.wf-results .wf-results-row .sid,
.wf-results .wf-results-row .val
{

    /*background-color: white;*/

    /* main  */
    border: 1px solid rgba(0,128,0,.133);
    border-radius: 3px;
    border-collapse: collapse;
    box-sizing: border-box;

    padding: .1333rem;
}

.wf-results .wf-results-row .sid:hover,
.wf-results .wf-results-row .val:hover {
    cursor: pointer;
    border-color: rgba(0,0,0,.633);
}

.wf-results .wf-results-row .val {
    border-color: rgba(0,128,0,.233);
}


/* top level sids */
.wf-results .wf-results-row > .sid {
    text-align: right;
    margin-right: .5rem;
}

/*.wf-results .wf-results-row,
.wf-results .wf-results-row > .sid {
    height: 100%;
    outline: 1px solid olive;
}*/


.wf-results .wf-results-row .wf-modifier {
    width: 60px;
    white-space: pre-wrap;
}


.wf-results .wf-results-row .sid-body {
    display: flex;
    flex: 0 1 auto;
    flex-grow: 1;

}

.wf-results .wf-results-row .sid-list > .sid,
.wf-results .wf-results-row .val-list > .val {
    border: none;
    /*margin-right: .1333rem*/
}

.wf-results .wf-results-row .kv-row > .sid {
    text-align: right;
    border: none;
}

.wf-results .wf-results-row .kv-row > .val {
    border: none;
    border-left: 1px solid rgba(0,0,0,.3);
    border-radius: 0;
}

.wf-results-row.wf-expanded {
    padding-left: 2.5rem;
}

.wf-results-row.wf-expanded > .sid {
    opacity: .66666;
}


.sid-list {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.sid-list > .sid {
    /*font-size: 7pt;*/
}

.sid-list.inline > .sid {
    /*background: red;*/
    background-color: rgba(0,0,0,.03);

}

.sid-list.inline > .sid + .sid {
    margin-left: .5rem;

}

.sid-list > .brackets:hover {
    outline: 1px solid crimson;
}

.sid-list > .sid:nth-of-type(1):before,
.val-list > .val:nth-of-type(1):before{
    content: "(";
    opacity: .333;
}

.sid-list > .sid:last-of-type:after,
.val-list > .val:last-of-type:after{
    content: ")";
    opacity: .333;
}

.val-list.inline {
    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
}

.wf-results .wf-results-row .val-list.inline > .val {
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.03);
}

.wf-results .wf-results-row .val-list > .val,
.k-val > .val,
.kv-row > .val
{
    font-weight: bolder;
}

.wf-results .wf-results-row .val-list > .val:hover {
    background-color: rgba(0,0,128,.13333);
}

.wf-results .wf-results-row .val-list.inline > .val + .val {
    margin-left: .1rem;
}


.k-val {
    display: flex;
    flex: 0 1 auto;

    align-items: center;
}


.k-val >  .separator {
    padding: 0 0.333rem;
}

.kv-row {
    display: flex;
    flex: 0 1 auto;
}


.sid {
    color: blue;
}

.k-val > .sid {
    /*min-width: 100px;*/
    text-align: right;
    /*opacity: 0.75;*/
    color: lightseagreen;

}


/***********************************/

.wf-updated {
    animation: bg-update 1.5s steps(5, end);
}

.val.channel {
    color: rgba(0,0,0,.333);
}

.val.channel:before,
.tag.pending:before
{
    content: '... ';
    animation: dots 750ms steps(5, end) infinite;
}


@keyframes dots {
    0%, 20% {
        opacity: 0;
    }
    40% {
        opacity: 30%;
    }
    60% {
        opacity: 70%;
    }
    80%, 100% {
        opacity: 100%;
    }
}

@keyframes bg-update {
    0%, 20% {
        background-color: rgba(0,255,0, 0.30);
    }
    40% {
        background-color: rgba(0,255,0,.25);
    }
    60% {
        background-color: rgba(0,255,0,.20);
    }
    80%, 100% {
        background-color: rgba(0,255,0, .0);
    }
}



/* specific wf stuff */

.f-box {
    outline: 1px solid cornflowerblue;
    width: 100%;
    display: flex;
    flex: 1 0 auto;

    flex-wrap: wrap;
}

.f-item {
    margin: .2rem;

    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;

    /*width: 100%;*/

    font-size: 7pt;

    /*box-sizing: content-box;*/
    border: 1px solid transparent;
}

.f-item > .f-title {

    cursor: pointer;

    background-color: rgba(0,128,128,.0823);

    width: min-content;
    width: -moz-min-content;

    flex-grow: 0;

    padding: .25rem .25rem 0 .25rem;

    writing-mode: vertical-rl;
    text-orientation: mixed;

    /*transform: rotate(-90deg);*/
    /*-webkit-transform: rotate(-90deg);*/
    /*-moz-transform: rotate(-90deg);*/
    /*-ms-transform: rotate(-90deg);*/
    /*-o-transform: rotate(-90deg);*/
}

.f-item:hover {
    box-sizing: content-box;

    border: 1px solid rgba(255,0,255,.3333);
}

.f-item > .f-body:hover {
    background-color: rgba(0,255,0,.01777);

}

.f-item > .f-body {

    margin-left: .2rem;

    justify-self: flex-start;
    width: 100%;
    height: 100%;

    /*height: 100%;*/

}

.f-item > .f-body ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 1rem;
}



.f-selected {
    animation: dots 75ms steps(5, end);
}

.f-selected > .f-body {
    background-color: rgba(128,255,255,.123);

}

.f-selected > .f-title {
    font-weight: bolder;

    background-color: aquamarine;

    writing-mode: unset;
    text-orientation: unset;

}




.templating-workflow {
    padding: 1rem;
    font-size: 8pt;
}

.templating-workflow .section {
    margin-bottom: 1.5rem;
}

/* node */
.el.n {
    display: flex;
    flex: 0 1 auto;

    /*outline: 1px solid rgba(0,0,0,.10);*/
}

.el.sub {
    background-color: rgba(255,0,0,0.1111);

    outline: 1px solid rgba(255,0,0,0.1111);
}

.el.n:hover {
    outline: 1px solid #000;
}

/* container */
.el.c {
    outline: 1px solid rgba(0,0,0,.1111);
}


.el:last-child:hover {
    /*background-color: rgba(0,255,0,.20);*/
}

.el > .t {
    margin-right: .1rem;
    color: #999999;;
}

.el > .t:hover {
    color: #000;
}

.el > .attrs {
    margin-left: .1rem;
    display: block;

    color: lightgray;
}

.el  .el {
    margin-left: .5rem;
}


/* tw */

#html, #html1 {
    visibility: hidden;
}

.example-tw {
    padding: 1rem 0 0 .5rem;
}


.overflow-x {
    overflow-x: auto;
    /*outline: 5px solid #f8af0f;*/
}


.html {
    white-space: pre-wrap;
    font-family: "DejaVu Sans Mono", monospace;
    line-height: 1.2;
    font-size: 7pt;
}

.scrape-ide > .menubar {
    margin-bottom: .5rem;
}

.plans {
    margin-top: .5rem;
}

.plans .plan-root {
    padding-left: .25rem;
    padding-right: .5rem;
    border-left: 1px solid grey;
}

.plan:hover {
    background-color: #cc160511;
}

.plans .plan-root:first-child {
    padding-left: 0;
    border-left: none;
}

.plan-root > *:first-child {
    margin-left: 0;

    border-left: none;
}
.plan-root > * {
    margin-left: .5rem;
}

.plan-root > * > .menubar {
    margin-bottom: .5rem;
}


.tree-node .short {
    padding-left: 1px;
    padding-top: 1px;
}


.tree-node {
    margin: 0 0 0 1px;
    padding: 1px 0 0 0;
}

.tree-node.leaf:hover {
    background-color: #ee82ee22;
}

.tree-node > .detailed .tag:first-child {
    margin-left: 1rem;
}

.tree-node > .detailed .tag:last-child {
    margin-right: 0;
}

.tree-node .selector {
    font-size: 6pt;
}

.tree-node > .detailed .selector {
    font-weight: normal;
}

.tree-node > .detailed .content {
    font-weight: bolder;
}

.tree-node > .detailed .tags,
.tree-node > .short .tags {
    margin-left: auto;
    text-align: right;
}

.tree-node > .short > header {
    font-weight: unset;
    font-size: 6pt;
}


.tree-node.leaf.selected {
    /*background: repeating-linear-gradient(*/
    /*        -45deg,*/
    /*        #ff000010,*/
    /*        #ff000020 5px*/
    /*);*/
}

.tree-root .tree-node.single-child {
    border-width: 0;
    margin: 0;
}

.tree-node.leaf.selected.filter__text\\\?,
.menubar a.filter__text\\\? {
    background-color: #29a99f22;
}


.tree-node.leaf.selected.filter__link\\\?,
.menubar a.filter__link\\\? {
    background-color: #0000ff22;
}

.tree-node.leaf.selected.filter__img\\\?,
.menubar a.filter__img\\\? {
    background-color: #f652d022;
}



.tree-root .tree-node.selected:hover  {
    border-color: #ff000050;
}


.tree-root .tree-node {
    border-left: 4px solid #44444411;

    /*border-image: linear-gradient(right, red 10px, yellow 10px, blue 10px, orange 10px) ;*/
}

.tree-root .tree-node:hover {
    border-color: #0000ff66;
}


.tree-root .tree-node.leaf.unique {
    border-width: 10px;
    border-color: #0000ff66;

    border-top: 1px solid #0000ff66;
    border-bottom: 1px solid #0000ff66;

}

.tree-root .tree-node.leaf.unique:hover {
    border-color: blue;
}




/*.tree-node.leaf:not(.tree-node.selected) {*/
/*    color: gray;*/
/*    outline: 5px solid blue;*/
/*}*/


/* horizontal display */
.tree-root.horizontal .tree-nodes,
.tree-root.horizontal .tree-node {
    display: flex;
    flex-direction: row;
}

.tree-root.horizontal .tree-node .tags {
    margin-left: unset;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tree-root.horizontal .tree-node .selector {
    writing-mode: vertical-rl;
    text-orientation: mixed;

}



.tree-root.horizontal .tree-node {
    border-left: unset;
    border-top: 4px solid #46444422;
}

.tree-root.horizontal .tree-node:hover {
    border-left: unset;
    border-top: 4px solid #46444455;
}

.filter-tag {
    background-color: #44444411;
    font-size: 7pt;
    padding: 1px 2px;
}

.applied-tag {
    background-color: #29a99f55;
}




.scrape-ide .el-list {

    list-style: none;

    -webkit-margin-before:0em;
    -webkit-margin-after:0em;

    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;

}

.scrape-ide .el-list > li:hover {
    background-color: #f8af0f12;
}

.scrape-ide .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scrape-ide .filters > .menubar > header {
    padding-right: .5rem;
}


