/* styles from playground */

/* menubar */

.menubar {
    box-sizing: content-box;

    display: inline-flex;
    align-content: flex-end;
    align-items: baseline;

    flex-wrap: wrap;

    margin-right: .5rem;
}

.menubar .menu-item {
    font-weight: 100;

    padding: .1rem .33rem 0 .33rem;

    color: rgb(220,20,60);
    text-decoration: none;
    border: 1px solid crimson;
}

.menubar .menu-item + .menu-item {
    margin-left: .5rem;
}

.menubar .menu-item:hover,
.menubar .menu-item.selected {
    color: #fff;
    background-color: rgba(255,128,128,.75);
}

.menubar.minimal .menu-item {
    border: none;
}

.menubar > .header {
    font-weight: bolder;
    margin-right: .5rem;
}

.menubar .separator {
    width: 1rem;
}


.menubar {
    font-family: ".SF NS Text", serif;
}


/* scraper UI styles */

.woof-scraper-ui {
    /*opacity: .8;*/
}


/* height var for  */
:root {
    --height: 0px;
    --width: 0px;
}

body {
    /*margin-bottom: var(--height);
    margin-left: var(--width);*/
}


.woof-scraper-ui table {
    font-size: 8pt;
    line-height: 1;
}

.woof-scraper-ui table {
    border-spacing: 0;
    border-collapse: collapse;
}

.woof-scraper-ui table td,
.woof-scraper-ui table th {
    margin: 0;
    border: 1px solid #cacaca;
}


/* */


.WOOF-WIP {
    outline: 1px solid #cacaca;
}

.WOOF-DONE {
    opacity: .5;
}

.WOOF-PARSE-ERROR {
    outline: 3px solid limegreen;
}

.WOOF-PARSE-ERROR:after {
    text-decoration: none;
    line-height: 1.5;
    display: block;
    white-space: pre-wrap;
    content: "↓" attr(data-exception) "↓";
    background-color: orangered;
    color: white;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 8pt;
}


.WOOF-ERROR {
    outline: 3px solid #cc1605;
}


article.WOOF-ASYNC {
    background-color: yellow;
}

article.WOOF-ASYNC.WOOF-DONE {
    background-color: crimson;
    outline: 3px solid yellow;
}

/* move indicator to right */
.woof-wf-indicator {
    position: absolute;
    top: -18px;
    right: 0px;
    width: 16px;
}


/* remove magin */
.woof-scraper-ui .panel + .panel {
    margin-left: 0;
}

.woof-scraper-ui {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 8pt;
}

.woof-scraper-ui .panel {
    flex: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
}

.ui-container {
    overflow-y: scroll;
}


.ui-container,
.ui-container > * {
    min-height: var(--height);
}


/* rum component */
.ui-container > .woof-scraper-control {
    padding: .133rem;
}

.woof-scraper-control > .menubar {
    margin-bottom: .333rem;
}

.woof-scraper-control {
    overflow-y: scroll;
    max-height: var(--height);

}


/* collapsed */
.woof-scraper-control .woof_details {
    position: fixed;
    bottom: calc(var(--height) - 40px + 5px);
    left: 0;

    width: 100vw;
    height: 40px;
    background-color: #fff;
    border: 1px solid crimson;
}


/* shown */
.woof-scraper-control .woof_details.woof_visible {
    height: calc(98vh - var(--height) );
    overflow-y: scroll;
}

.woof_details .scrape {
    font-size: 6pt;
    line-height: 1;
}

.woof-scraper-control .woof_api {
    margin-top: 40px;
}


/* UI of the parsed elements */

.woof-scraper-control .list .items {
    line-height: 2;
}

.listing-row {
    border-radius: 3px;
    border: 1px solid paleturquoise;
    margin: 3px;
}

.listing-row:hover {
    background-color: paleturquoise;
    cursor: pointer;
}

.listing-row pre {
    margin: 0;
    font-size: 8pt;
    padding: 0;
}


.ok-btn {
    width: 100%;
    font-weight: bolder;
    padding: .1rem;
}


.WOOF-SEEN {

    /*outline: 5px solid #f8af0f;*/
    opacity: .5;
    /*background-color: #cc160599 !important;*/
}

.WOOF-SEEN:before {
    text-decoration: none;
    line-height: 1.5;
    display: block;
    white-space: pre-wrap;
    content: "↓↓↓ ALREADY 👁";
    background-color: orangered;
    color: white;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 8pt;
}

.WOOF-CANDIDATE {
    outline: 3px dashed #29a99f;
}

.WOOF-CANDIDATE:before {
    text-decoration: none;
    line-height: 1.5;
    display: block;
    white-space: pre-wrap;
    content: "↓↓↓ CANDIDATE";
    background-color: #29a99f;
    color: white;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 8pt;
}

.WOOF-GIVNO:before {
    text-decoration: none;
    line-height: 1.5;
    display: block;
    white-space: pre-wrap;
    content: "↓↓↓ 💩💩💩💩💩";
    background-color: #a97547;
    color: white;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 8pt;
}