/* base styles */

body {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 11px;
    line-height: 1.2;
}

/* blog styles */

body { display: flex; }


#backend-md {
    background-color: rgba(255,0,0,.11);
    width: 48%;
    margin-right: 1%;

    padding-top: 22px;
}

#js-md {
    background-color: rgba(0,0,255,.11);

    width: 48%;
}
.md-block {
    height: 100%;
}

.md-block:hover {
    background-color: rgba(0,255,0,.06333);
    transition: background-color 0.5s ease;
}

.md-editor {
    outline: 1px solid salmon;
    padding: 1rem;
}

pre  { margin: 0 }



.hide-backend-md #backend-md {
    display: none;
}
.hide-backend-md #js-md {
    width: 100%;
}




/* playground styles */

/* menubar */

.menubar {
    box-sizing: content-box;

    display: inline-flex;
    align-content: flex-end;
    align-items: baseline;


    margin-right: .5rem;
}

.menubar .menu-item {
    font-weight: 100;

    padding: .1rem .33rem 0 .33rem;

    color: rgb(220,20,60);
    text-decoration: none;
    border: 1px solid crimson;
}

.menubar .menu-item + .menu-item {
    margin-left: .5rem;
}

.menubar .menu-item:hover,
.menubar .menu-item.selected {
    color: #fff;
    background-color: rgba(255,128,128,.75);
}

.menubar > .header {
    font-weight: bolder;
    margin-right: .5rem;
}

.menubar .separator {
    width: 1rem;
}
