{
 :deps {
        ;; do not package clojure/clojurescript/core.async as library, use :dev or other aliases for referencing libraries
        }

 :paths ["src"]

 :aliases {

           ;; dependencies for development
           :dev {
                 ;; provide dependencies separately
                 :extra-deps {
                              org.clojure/clojure        {:mvn/version "1.10.1"}
                              org.clojure/core.async     {:mvn/version "1.1.587"}
                              ; use andare for non-jvm environments such as node.js
                              ; andare {:mvn/version "1.1.587"}

                              org.clojure/clojurescript  {:mvn/version "1.10.597"}
                              }
                 }

           ;; clojure 1.8
           :1.8 {:extra-deps {org.clojure/clojure     {:mvn/version "1.8.0"}
                              org.clojure/clojurescript  {:mvn/version "1.10.597"}
                              org.clojure/core.async  {:mvn/version "1.1.587"}
                              }}

           ;; clojure 1.9
           :1.9 {:extra-deps {org.clojure/clojure {:mvn/version "1.9.0"}
                              org.clojure/clojurescript  {:mvn/version "1.10.597"}
                              org.clojure/core.async  {:mvn/version "1.1.587"}
                              }}

           ;; clojure 1.10
           :1.10 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.1"}
                               org.clojure/clojurescript  {:mvn/version "1.10.597"}
                               org.clojure/core.async  {:mvn/version "1.1.587"}
                               }}

           :test {
                  :extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}

                               }

                  :main-opts ["-m" "cognitect.test-runner"]}


           :cljs-test {:extra-paths ["test"]
                       :extra-deps  {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                       :main-opts   ["-m" "cljs-test-runner.main"]}

           }

 }