{
 :watch-dirs ["test" "src"]
 :css-dirs ["resources/public/css"]

 :ring-handler woof.alpha.server/app
 ;:server-ip "127.0.0.1"

 :open-url "http://localhost:9500"
 ;:open-url "http://localhost:8080"
 ; :ring-server-options { :port 8080 }

 :log-level :off
 }