{
 :watch-dirs ["src"]
 :css-dirs ["resources/public/css"]

 ;:ring-handler woof.server.core/app
 ;:server-ip "127.0.0.1"

 :open-url "http://localhost:8080"
 ; :ring-server-options { :port 8080 }
 ; :auto-testing true

 :log-level :off
 }