^{
  :watch-dirs [
               "test"
               "src"
               ; "../woof-core/src"
               ]

  :css-dirs ["resources/public/css"]

  :auto-testing true

  :open-url "http://[[server-hostname]]:[[server-port]]/playground.html"
  :ring-handler woof.server.playground/app

  }
{:main woof.playground}