body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, pre, input, button {
  font-family: "Liberation Mono", "DejaVu Sans Mono";
  font-size: 9pt;
  line-height: 1.33;
}


body { padding: 1rem;
}

#app {
/*   outline: 3px solid lightgrey; */
  min-height: 95vh;
  padding: .5rem;

}


.context-ui {
  margin-right: 1rem;
}




.tip {
  opacity: 0.66667;
  margin: .5rem 0;
  font-size: smaller;
}

.tag {
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: .5rem;

  font-weight: 900;
}

.tag.done {
  background-color: aquamarine;
  color: #000;
}

.tag.pending {
  background-color: peachpuff;
  color: #000;
}

.tag.error {
  background-color: orangered;
  color: #fff;
}


.hbox {
  display: flex;
}


.menubar {
  box-sizing: content-box;

  display: inline-flex;
  align-content: flex-end;
  align-items: baseline;

}

.menubar .menu-item {
  font-weight: 100;

  padding: .1rem .33rem 0 .33rem;

  color: rgb(220,20,60);
  text-decoration: none;
  border: 1px solid crimson;
  margin-left: .5rem;

}

.menubar .menu-item:hover,
.menubar .menu-item.selected {
  color: #fff;
  background-color: rgba(255,128,128,.75);
}

.menubar > .header {
  font-weight: bolder;
}

.menubar .separator {
  width: 1rem;
}

.edn.data {
  border-bottom: 1px solid red;
  display: inline-flex;
}

.edn.data.edit {
  border-bottom: 1px solid rgba(255,0,0,.13333);
}









.steps {
  display: flex;
  flex-flow: column;
}

#app .steps {
  margin-top: 1rem;

}

.steps .step-ui {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;

  padding: .2rem;

  border-bottom: 1px dotted rgba(0,0,0,.133);
}

.steps .step-ui:hover {
  border-bottom: 1px dotted rgba(0,0,0,.433);

  background-color: rgba(0,255,255,.08111)
}


.step-ui > .step {
  display: flex;

  align-self: baseline;
}

.step-ui > .step > .result {
  min-width: 200px;
  margin-right: 1.5rem;
}


.step-ui > .step .info {
  min-width: 350px;
}


.step-ui > .step .k {
  min-width: 100px;
  margin-right: .5rem;
  opacity: .5;
}

.step-ui > .step .action {

}


.step-ui > .editor header,
.step-ui > .preview header {
  display: inline-flex;
  font-weight: bolder;
}

.step-ui > .editor header {
  margin-right: .5rem;
  margin-bottom: .5rem;
}



.step-ui.edit,
.step-ui.prev
{

  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.step-ui > .preview {
  background-color: rgba(133,127,127,.07333);
  margin-bottom: .5rem;

  min-height: 10rem;
  padding: .5rem;
}

.preview > .preview-content {

  margin: 1rem;

}


.step-ui > .dbg-k {
  color: gray;
  font-size: smaller;
}




.wfui .main-menu {
  margin-top: 1rem;
}



.context-ui {
  background-color: rgba(200,0,0,.03333);
}

.steps-map-ui {
  background-color: rgba(0,200,0,.03333);
}

.context-ui,
.steps-map-ui {
  padding: .75rem;

}

.context-ui .edn.data {
  min-width: 15rem;
  background-color: rgba(133,127,127,.07333);
  margin: .75rem 0rem .75rem 1rem;
}

.context-ui .edn.result {
  display: inline-block;
  min-width: 7rem;
  outline: 1px solid rgba(133,127,127,.1333);
}


.flex {

  margin-top: 1rem;

  display: flex;

  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;



}

.flex > div {
/*   outline: 1px solid crimson; */

  width: auto;
  flex: 1;

  margin-right: 1.5rem;

  min-height: 30vh;
}

.flex > div > header {

  width: 100%;
  font-weight: bolder;
  margin-bottom: 1rem;
}


.popup textarea {
  display: flex;
  width: 100%;
  font-size: .8rem;
  line-height: 1rem;

  min-height: 50vh;
}


.files {
  background-color: rgba(222,255,111,0.1);
}

.files > * {
  padding: .5rem;
}

.files header {
  border-bottom: 1px solid black;
}

.files .folder {
  font-weight: bold;
}

.files .folder > a:hover {
  background-color: rgba(0,0,100,.3);


}

.files .file {
  opacity: 0.9;
}



/* visualizing client server communication */

.communication {
  width: 100%;
  margin: .5rem;
}

.communication > div {
/*   width: 100%; */
  margin-right: 1rem;
}

.communication header {
  font-weight: bolder;
}

.communication .log {
  overflow-x: scroll;
}

.communication .hbox > div {
/*   outline: 1px solid red; */
  margin-bottom: .5rem;

}

.communication .hbox > div:nth-of-type(1)
{
  width: 75%;
  text-align: right;
  flex-grow: 5;
}

.communication .hbox > div:nth-of-type(2)
{
/*   width: 20%; */
  text-align: center;
  flex-shrink: 1;
  width: 100px;
}


.communication .hbox > div:nth-of-type(3) {
    width: 75%;
    flex-grow: 5;
}


